[user]
	name = Tristan Morrison
	email = tmorrison@esri.com
[core]
	excludesfile = ~/site/git/dotfiles/git/.gitignore_global
	editor = emacsclient -t -a=
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true
[diff "lfs"]
	textconv = cat
